asgiref==3.4.1
beautifulsoup4==4.10.0
convertdate==2.3.2
Django==3.2.8
django-bootstrap4==3.0.1
django-bootstrap5==2.1.2
django-jquery==3.1.0
django-mathfilters==1.0.0
django-pgsql-interval-field==0.9.4
hijri-converter==2.2.2
holidays==0.11.3.1
korean-lunar-calendar==0.2.1
psycopg2==2.9.1
PyMeeus==0.5.11
python-dateutil==2.8.2
python-decouple==3.5
pytz==2021.3
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.2
